

.SectionHome {
    /* background-color: rgb(146, 184, 251); */
    background-image: linear-gradient(rgba(0, 0, 0, 0.467), rgba(0, 0, 0, 0.405)), 
    /* url('/src/assets/img/img home médico paciente.jpg'); */
    url('/src/assets/img/img area home azul.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 93vh;
    /* filter: brightness(0.9); */
    /* height: 399px; */

    /* display: flex; */
    /* flex-direction: column; */
    /* align-items: center; */
    /* justify-content: center; */
    padding: 100px 10px 51px 27px;
    /* gap: 29px */

}

.AreaTextoContainerHome {
    display: flex;
    flex-direction: column;
    justify-content: center;
    order: 2;
    padding: 61px 27px;
    
}


.TituloAreaTextoHome {
    font-size: 42px;
    color: #eeeeee;
    font-family: "Inter";
    font-weight: 600;
}



.ParagrafoAreaTextoHome {
    padding: 15px 0px;;
    color: #ecececb3;
    font-size: 20px;
    font-family: 'Poppins';
}

.ImgSectionHome {
    order: 1;
    height: 299px;
    max-width: 27rem;
    min-width: 15rem;
}

.img {
    max-width: 100%;
    height: 100%;
    border-radius: 10px;
    object-fit: cover;
    ;
}

@media(min-width: 754px) {
    .SectionHome {
        /* flex-direction: row; */
        /* justify-content: left; */
        padding: 13px 82px 51px;
        height: 58vh;
    }

    .ImgSectionHome {
        order: 2;
        max-width: 28rem;
        min-width: 6rem;
}

    .AreaTextoContainerHome {
        max-width: 25rem;
        /* width: 30rem; */
    }

    .TituloAreaTextoHome {
        max-width: 100%;
    }

    .ParagrafoAreaTextoHome {
        max-width: 100%;
    }
}

@media(min-width: 1024px) {

    .SectionHome {
        gap: 50px;
        /* justify-content: space-evenly; */
        /* justify-content: left; */
        padding: 81px 106px 3px;
        height: 93vh;
    }

    .AreaTextoContainerHome {
        max-width: 39rem;
        padding: 98px 27px;
        /* width: 45rem; */
    }

    .TituloAreaTextoHome {
        font-size: 53px;
    }

    .ParagrafoAreaTextoHome {
        font-size: 20px;
    }

    .ImgSectionHome {
        width: 540px;
        max-width: 42rem;
        height: 351px;
        min-width: 6rem;
    }

    .img {
        width: 100%;
        height: 100%;
    }
}