


.CardEspecialidades {
    background-color: white;

    width: 18rem;
    padding: 23px 278px 39px 17px;
    margin: 0px 0px 7px 0px;
    border-radius: 13px;
    transition: 0.3s ease-in-out;
    box-shadow: 1px 1px 10px rgba(100, 100, 100, 0.174);

}

.CardEspecialidades:hover {
    transform: translateY(-5px);
    transition: 0.3s ease-in-out;
} 


.ImgIconeCardEspeciali {
    padding: 4px 7px;
    border-radius: 5px;
    box-shadow: 1px 1px 10px #4a4a4a17;
    border: 1px solid #4c4c4c1f;
}

.TituloCardEspeciali {
    font-size: 20px;
    width: 17rem;
    padding: 9px 0px;
    color: rgb(17 81 164);
    font-family: "Inter";
}

.ParagrafoCardEspeciali {
    width: 285px;
    color: #545454;
}


@media(min-width: 800px) {
    .CardEspecialidades {
        margin: 0px 0px 7px 9px;
    }
}

@media(min-width: 1024px) {
    .CardEspecialidades{
        margin: 0px 0px 7px 0px;
    }
}

@media(min-width: 1350px) {
   
    .CardEspecialidades{
        width: 22rem;
        padding: 23px 254px 15px 28px;
    }
    
}