
.SectionEspecialidades {
    padding: 20px 0px 61px 0px;
    background-color: rgb(8 76 164 / 16%);
    display: flex;
    flex-direction: column;
    align-items: center;

}


.ContainerCardsAreaEspecialidades {
    display: flex;
    justify-content: flex-start;
    gap: 24px;
    overflow-x: scroll;
    scroll-behavior: smooth;
    max-width: 311px;
    margin: 0px 0px 61px;
    padding: 10px 0px 10px 9px;
    scrollbar-width: none;

}


.TituloAreaTextoEspecialidade {
    font-size: 35px;
    color: rgb(17 81 164);
    padding: 90px 0px 117px;
    text-align: center;
    font-family: "Inter";
}


.BotaoEspecialidade {
    background: rgb(17 81 164);
    color: white;
    padding: 17px 18px;
    border: none;
    border-radius: 9px;
    font-size: 15px;
    transition: 0.3s ease-in-out;
    font-family: 'Poppins';

}

.BotaoEspecialidade:hover {
    background-color: rgba(17, 81, 164, 0.821);
    transition: 0.3s ease-in-out;
}

.ContainerSetasCarrossel {
    margin: 0px 0px 96px;
}


.ContainerSetasCarrossel button {
    background: none;
    border: none;
}

.SetaEsquerdaCarrossel, .SetaDireitaCarrossel {
    width: 45px;
    margin: 0px 6px;
}

.SetaEsquerdaCarrossel {
    rotate: 180deg;
}

.SetaEsquerdaCarrossel:hover {
    opacity: 0.7;
}

.SetaDireitaCarrossel:hover{
    opacity: 0.7;
}

.ContainerDots {
        display: flex;
        gap: 6px;
        justify-content: center;
        margin-top: 12px;
}

.Dot {
     width: 6px;
    height: 6px;
    border-radius: 3px;
    background: #ccc;
    transition: all 0.25s;
    cursor: pointer;
}

.DotAtivo {
    width: 18px;
    background: #534AB7;
}

@media(min-width: 800px) {

    .ContainerCardsAreaEspecialidades {

        gap: 15px;
        max-width: 39rem;

    }

    .BotaoEspecialidade {
        padding: 17px 30px;
    }
}

@media(min-width: 1024px) {

    .SectionEspecialidades {
        display: flex;
        flex-direction: column;
        align-items: center;

    }


      .ContainerCardsAreaEspecialidades {
        display: flex;

        gap: 27px;
        max-width: 59rem;
        scrollbar-width: none;
        flex-wrap: wrap;
        overflow-x: clip;
        
    }

    .ContainerSetasCarrossel {
        display: none;
    }

    
}

@media(min-width: 1350px) {
    .ContainerCardsAreaEspecialidades{
        max-width: 70rem
    }

}