
.SectionEspecialidades {
    padding: 20px 0px 61px 0px;
    background-color: rgb(212, 236, 242);
    display: flex;
    flex-direction: column;
    align-items: center;

}


.ContainerCardsAreaEspecialidades {
        display: flex;
        /* grid-template-columns: 25%; */
        justify-content: left;
        gap: 32px;
        overflow-x: scroll;
        max-width: 330px;
        margin: 0px 0px 94px;
        padding: 10px 0px;
}


.TituloAreaTextoEspecialidade {
    font-size: 34px;
    color: #383880;
    padding: 90px 0px 117px;
    text-align: center;
}


.BotaoEspecialidade {
    background: #16167ab3;
    color: white;
    padding: 13px 30px;
    border: none;
    border-radius: 9px;
    font-size: 14px;

}

.BotaoEspecialidade:hover {
    background-color: #16167aa5;
}

@media(min-width: 800px) {
    /* .SectionEspecialidades {
        display: flex;
        flex-direction: column;
        align-items: center;

    } */

    .ContainerCardsAreaEspecialidades {
        /* display: flex; */
        /* grid-template-columns: 25% 25% 25%; */
        /* justify-content: center; */
        /* gap: 27px; */
        max-width: 40rem;
        /* scrollbar-width: none; */
        /* flex-wrap: wrap; */
    }
}

@media(min-width: 1024px) {

    .SectionEspecialidades {
        display: flex;
        flex-direction: column;
        align-items: center;

    }


      .ContainerCardsAreaEspecialidades {
        display: flex;
        /* grid-template-columns: 25% 25% 25%; */
        /* justify-content: center; */
        gap: 27px;
        max-width: 58rem;
        scrollbar-width: none;
        flex-wrap: wrap;
        overflow-x: clip;
        
    }
}

@media(min-width: 1350px) {
    .ContainerCardsAreaEspecialidades{
        max-width: 70rem
    }

}