
.SectionExames {
    background-color: rgb(212, 236, 242);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px 0px 61px 0px;
}


.TituloAreaTextoExames {
   font-size: 31px;
    color: rgb(0 115 162);
    padding: 90px 0px 117px;
    text-align: center;
    font-family: "Inter";
}

.ContainerCardsAreaExames {
    overflow-x: scroll;
    scroll-behavior: smooth;
    width: 262px;
    display: flex;
    gap: 40px;
    justify-content: left;
    padding: 8px 0px 10px 10px;
    margin: 0px 0px 36px;
    scrollbar-width:none;
}


.ContainerSetasCarrosselExames {
    margin: 0px 0px 96px;
}


.ContainerSetasCarrosselExames button {
    background: none;
    border: none;
}

.SetaEsquerdaCarrossel, .SetaDireitaCarrossel {
    width: 45px;
    margin: 0px 6px;

}

.SetaEsquerdaCarrossel {
    rotate: 180deg;
}

.SetaEsquerdaCarrossel:hover {
    opacity: 0.7;
}

.SetaDireitaCarrossel:hover{
    opacity: 0.7;
}

.ContainerBotaoAreaExames {

}

.BotaoExames {
    background: rgb(31 137 180);
    color: white;
    padding: 13px 30px;
    border: none;
    border-radius: 9px;
    font-size: 15px;
    font-family: 'Poppins';

}

.BotaoExames:hover {
    background-color: rgb(29, 122, 158);
    transition: 0.3s ease-in-out;
}

@media(min-width: 500px) {
    .ContainerCardsAreaExames {
        width: 466px;
}
}



@media(min-width: 800px) {
    .ContainerCardsAreaExames{
        width: 753px;
        gap: 31px;
    }   

    .TituloAreaTextoExames {
        font-size: 35px;
    }

    .BotaoExames {
        padding: 17px 30px;
    }
   
}