
.ContainerFormularioContato{
    background-color: rgb(8 76 164 / 25%);
    padding: 30px 45px;
    height: 554px;
    border-radius: 16px;
    box-shadow: 1px 1px 16px #00000026;
}

.TituloFormularioContato {
    font-size: 23px;
    margin: 0px 0px 6px 0px;
    color: rgb(15 54 106);
    font-family: "Inter";
}

.FormGroup{
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.LabelFormularioContato {
    font-weight: 600;
    margin: 9px 0px -5px;
    color: rgb(15 54 106);
}

.FormGroup input {
    padding: 13px;
    border-radius: 8px;
    border: 2px solid #0000004a;
    outline: none;
    border: 2px solid transparent;
}

.FormGroup input:focus {
    outline: none;
    border: 2px solid rgba(67, 67, 78, 0.567);
}

#mensagem {
    padding: 9px 13px 0px;
    outline: none;
    border: 2px solid #0000004a;

}

#mensagem:focus {
    outline: none;
    border: 2px solid rgba(67, 67, 78, 0.567);
}

.FooterFormulario {
    display: flex;
    margin: 22px 0px;
    justify-content: space-between;
}

.CheckboxGroup {
    /* margin: 22px 0px; */
    /* text-align: center; */
    display: flex;
    flex-direction: row;
}

.CheckboxGroup input {
    font: inherit;
    width:  1.1em;
    height: 1.15em;
    transform: translateY(-0.075em);
    /* align-self: center; */
}

/* .CheckboxGroup input::checkmark {
    color: rgb(54, 17, 23);
} */
.CheckboxGroup label {
    font-size: 13px;
    width: 146px;
}

.SubmitBtn {
    background: rgb(15 54 106);
    color: white;
    padding: 11px 35px;
    border: none;
    border-radius: 23px;
    font-size: 13px;
    height: 42px;
    font-family: 'Poppins';
    transition: 0.3s ease;
}

.SubmitBtn:hover {
    background-color: rgba(15, 55, 106, 0.881);
    transition: 0.3s ease;
}