
.SectionContato {
    background-color: rgb(239, 239, 239);
    padding: 0px 16px 67px;
}

.TituloPrincipalSectionContato {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* padding: 0px 0px 88px; */
    padding: 0px 0px 17px;
    
}

.TituloSectionContato {
    /* font-size: 34px; */
    color: #383880;
    padding: 90px 0px 23px;
    text-align: center;
    font-size: 31px;
    color: rgb(17 81 164);
}

.ParagrafoPrincipalSectionContato {
    width: 309px;
    text-align: center;
}

.ContainerConteudoSectionContato {
    display: flex;
    justify-content: center;
    padding: 74px 0px;
    flex-wrap: wrap;
}

.TituloAreaTextoSectionContato {
    font-size: 20px;
}

.ParagrafoAreaTextoSectionContato {
    padding: 10px 0px 35px;;
    width: 309px;

}

.ContainerCardsContatos {
    display: flex;
    flex-direction: column;
    gap: 21px;
}

.LinhaDivisoria {
    margin: 27px 0px;
}

.TituloAreaRedes {
    font-size: 20px;
    font-family: "Inter";
    color: rgb(17 81 164);

}

.IconesRedesSectionContato {
    margin: 30px 0px;
    display: flex;
    gap: 13px;
}

.DivIconeRede  {
    background-color: rgb(8 76 164 / 16%);
    border-radius: 50%;
    padding: 9px;
    transition: 0.3s ease;
    box-shadow: 1px 1px 10px #00000017;
    border: 1px solid #0000ff1c;
}

.DivIconeRede:hover {
    background-color: rgba(8, 76, 164, 0.358);
    transition: 0.3s ease;
}


.DivIconeRede img {
    width: 27px;
}


.AreaFormularioSectionContato{
    /* background-color: rgb(124, 124, 255); */
    width: 400px;
    height: 500px;
    border-radius: 16px;
}




@media(min-width: 800px) {
    
.TituloPrincipalSectionContato {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px 0px 88px;
    
}

.TituloSectionContato {
    /* font-size: 34px; */
    
    padding: 90px 0px 23px;
    text-align: center;
}

.ParagrafoPrincipalSectionContato {
    width: 438px;
    text-align: center;
}

.ContainerConteudoSectionContato {
    display: flex;
    justify-content: space-evenly;
    padding: 74px 0px;
    flex-wrap: wrap;
    gap: 45px;
}

.TituloAreaTextoSectionContato {
    font-size: 23px;
    font-family: "Inter";
    color: rgb(17 81 164);
}

.ParagrafoAreaTextoSectionContato {
    padding: 10px 0px 8px;
    width: 327px;
}

.ContainerCardsContatos {
    display: flex;
    flex-direction: column;
    gap: 21px;
}

.LinhaDivisoria {
    margin: 27px 0px;
}

.TituloAreaRedes {
    font-size: 23px;
    

}

.IconesRedesSectionContato {
    margin: 30px 0px;
    display: flex;
    gap: 13px;
}

.DivIconeRede  {
    /* background-color: rgb(180, 180, 255); */
    border-radius: 50%;
    padding: 10px 10px;
    
       
}

.DivIconeRede img {
    width: 27px;
}


.AreaFormularioSectionContato{
    /* background-color: rgb(124, 124, 255); */
    width: 400px;
    height: 500px;
}
}