

.CardSobre {
    display: flex;
    gap: 16px;
    width: 338px;
}


 .CardSobre img  {
    /* background: rgb(212, 236, 242); */
    background: rgb(8 76 164 / 16%);
    height: 60px;
    padding: 10px 9px 9px 9px;
    font-size: 31px;
    border-radius: 6px;
    width: 110px;
}

.tituloTextoCardSobre {
    font-size: 18px;
    /* color: rgb(17 81 164); */
    /* color: rgb(0 115 162); */
    color: rgb(17 81 164);
}

.paragrafoTextoCardSobre {
    font-size: 17px;
    color: #545454;
}

@media(min-width: 800px) {
    .CardSobre {
        width: 357px;
    }

}