

.CardConquistas {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ImagemIconeConquistas {
    width: 5rem;
}

.ValorCardConquistas {
    font-size: 29px;
    padding: 16px 0px 12px;
    font-family: 'Inter';
    font-weight: 800;
    color: rgb(17 81 164);
}


.ParagrafoCardConquistas {
    font-size: 17px;
    color: #545454;
}


@media(min-width: 800px) {
    .ValorCardConquistas {
        font-size: 32px;
    }
}