

.ContainerFooter {
    background-color: rgb(0 46 106 / 56%);
}

.TextAreaFooter {
    display: flex;
    flex-direction: column;
    gap: 43px;
    align-items: center;
    padding: 20px 56px;
    color: white;

}

.ContainerLogo{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: start;
    gap: 12px;
}

.ContainerLogoImagemFooter {
    display: flex;
    gap: 8px;
}

.ContainerLogoImagemFooter img {
    width: 43px;
    height: 40px;
    margin: 0px 0px 0px;
}

.LogoFooter {
    /* color: rgb(0 115 162); */
    color: rgb(17 81 164);
    font-family: "Inter";
    font-size: 34px;
    font-weight: 600;
}

.ParagrafoLogoFooter {
    color: #ffffffcf;
    text-align: center;
}


.TituloLinksPagFooter, .TituloLinksSuporteFooter {
    padding: 0px 0px 14px;
}

.ListaLinksPagFooter, .ListaLinksSuporteFooter {
    
    list-style: none;
    text-align: center;
}

.ContainerLinksSuporteFooter {
     text-align: center;
}

.ContainerLinksPagFooter li a, .ContainerLinksSuporteFooter li a {
    text-decoration: none;
    color: #ffffffcf;
   
   
} 

.ContainerLinksPagFooter li a:hover {
    color: #ffffff81;
   
   
}  

 
.ListaLinksSuporteFooter li a:hover {
    text-decoration: none;
    color: #ffffff81;
   
   
}  

.ContainerLinksPagFooter li, .ContainerLinksSuporteFooter li {
    margin: 0px 0px 15px;
}


@media(min-width: 800px) {
    .TextAreaFooter {
        /* display: flex; */
        flex-direction: row;
        padding: 94px 56px;
        align-items: baseline;
        justify-content: center;
        gap: 0px 122px;
    }

    .ContainerLogo {
        width: 17rem;
        align-items: start;
    }

    .ParagrafoLogoFooter {
        text-align: left;
    }

    .TituloLinksPagFooter, .TituloLinksSuporteFooter {
        text-align: left;

    }

    .ListaLinksPagFooter, .ListaLinksSuporteFooter {
        text-align: left;
    }
}